html {
  width: auto;
}

/* about.html header properties */
.headerContent {
  background-image: url('botanical-keyboard.jpg');
  background-size: cover;
  position: relative;
  width: auto;
  height: auto;
}

#headerContent-title,
#headerContent-subtitle {
  color: #060606;
}

.headerContent .menu a {
  color: #060606;
}

.mainContent .text-box {
  font-size: 2.1em;
  line-height: 3rem;
  padding: 2rem 3rem;
  color: #eeeeee;
}

.mainContent .content-about {
  background-color: #4f733a;
  padding: 2rem;
}

#content-wrapper {
  display: flex;
}

#profile-img-wrapper {
  padding: 1rem;
}

#profile-img-wrapper img {
  width: 300px;
  height: auto;
}

#contact-wrapper {
  display: flex;
  justify-content: space-evenly;
}

#contact-wrapper img {
  padding: 1rem;
}

@media (max-width: 1024px) {
  #headerContent-subtitle {
    font-size: 1.2rem;
  }

  .headerContent .menu a {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  html {
    width: auto;
  }

  .headerContent .container {
    padding: 2.1rem;
  }

  #headerContent-subtitle {
    font-size: 1.2rem;
  }

  .headerContent .menu a {
    font-size: 1rem;
  }

  .mainContent .text-box {
    font-size: 1.5em;
    line-height: 2rem;
    padding: 1rem 2rem;
    color: #eeeeee;
  }

  #content-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  #github-text {
    font-size: 1.5rem;
    margin-right: 2rem;
  }

  .footerContent-other,
  #madeBy {
    font-size: 1.5rem;
  }
}

@media (max-width: 426px) {
  .headerContent .container {
    padding: 4rem 0;
  }

  .headerContent-home {
    margin-left: 2rem;
    text-align: center;
  }

  #headerContent-title {
    font-size: 5rem;
  }

  #headerContent-subtitle {
    font-size: 2rem;
  }

  .headerContent .menu a {
    font-size: 2.5rem;
  }

  .first-text {
    font-size: 2rem;
  }

  #github-text {
    font-size: 1.3rem;
    margin-right: 1rem;
  }

  .footerContent-other,
  #madeBy {
    font-size: 1.3rem;
  }
}
