html {
  width: fit-content;
  width: auto;
  scroll-behavior: smooth;
}

/* tips.html header properties */
.headerContent {
  background-image: url('images/rio.jpg');
  background-size: cover;
  position: relative;
  width: auto;
  height: 100vh;
}

.mainContent .text-box {
  font-size: 2.1em;
  line-height: 3rem;
  padding: 2rem 8rem;
  color: #eeeeee;
}

.tips-content-img-wrapper {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.mainContent .firstPlace {
  background-color: #4f733a;
  flex-wrap: wrap;
}

.mainContent .secondPlace {
  background-color: #1f85a7;
  flex-wrap: wrap;
}

.mainContent .thirdPlace {
  background-color: #696f16;
  flex-wrap: wrap;
}

.mainContent .fourthPlace {
  background-color: #9f7513;
  flex-wrap: wrap;
  padding-top: 1rem;
}

@media (max-width: 1024px) {
  #headerContent-subtitle {
    font-size: 1.2rem;
  }

  .headerContent .menu a {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .headerContent .container {
    padding: 2.1rem;
  }

  #headerContent-subtitle {
    font-size: 1.3rem;
  }

  .headerContent .menu a {
    font-size: 1.4rem;
  }
}

@media (max-width: 426px) {
  .headerContent .container {
    padding: 4rem 0;
  }

  .headerContent-home {
    margin-left: 2rem;
    text-align: center;
  }

  #headerContent-title {
    font-size: 5rem;
  }

  #headerContent-subtitle {
    font-size: 2rem;
  }

  .headerContent .menu a {
    font-size: 2.5rem;
  }

  .mainContent .secondPlace {
    flex-direction: column;
  }
}
