/* tips.html header properties */
.headerContent {
  background-image: url('rio.jpg');
  background-size: cover;
  position: relative;
  width: auto;
  height: 100vh;
}

.mainContent .text-box {
  font-size: 2.1em;
  line-height: 3rem;
  padding: 2rem 8rem;
  color: #eeeeee;
}

.tips-content-img-wrapper {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.mainContent .firstPlace {
  background-color: #4f733a;
  flex-wrap: wrap;
}

.mainContent .secondPlace {
  background-color: #1f85a7;
  flex-wrap: wrap;
}
