/* font-family: 'Merriweather', serif;
*/

body {
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;
}

.headerContent {
  background-image: url('copacabana-large.jpg');
  background-size: cover;
  position: relative;
  height: 100vh;
}

.headerContent .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
}

.mainContent .container {
  display: flex;
  flex-direction: column;
}

.mainContent-img-wrapper img {
  width: 49.45vw;
  height: auto;
}

.firstPlace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f85a7;
}

.secondPlace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4f733a;
}

.thirdPlace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bc5819;
}

/* .mainContent-img-wrapper {
  max-width: 50vw;
  max-height: auto;
} */
