/* font-family: 'Merriweather', serif;
*/

body {
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;
}

.headerContent {
  background-image: url('copacabana-large.jpg');
  background-size: cover;
  position: relative;
  height: 100vh;
}

.headerContent .container {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 2rem 1rem;
}

.mainContent-img-wrapper img {
  vertical-align: middle;
  width: 49.45vw;
  height: auto;
}

.firstPlace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f85a7;
}

.secondPlace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4f733a;
}

.thirdPlace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bc5819;
}

.text {
  font-size: 1em;
  margin: 0 4rem;
  color: #eeeeee;
}

.text p {
  font-size: 3em;
  font-weight: bold;
}

.text-description {
  margin-top: 1em;
  padding-right: 10em;
}

.second-text {
  margin: 0 5rem 0;
}

/* .mainContent-img-wrapper {
  max-width: 50vw;
  max-height: auto;
} */
