/* tips.html header properties */
.headerContent {
  background-image: url('rio.jpg');
  background-size: cover;
  position: relative;
  width: auto;
  height: 100vh;
}

.mainContent .text-box {
  font-size: 2.1em;
  line-height: 3rem;
  padding: 2rem 8rem;
  color: #eeeeee;
}

.mainContent .content-about {
  background-color: #4f733a;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  #headerContent-subtitle {
    font-size: 1.2rem;
  }

  .headerContent .menu a {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .headerContent .container {
    padding: 2.1rem;
  }

  #headerContent-subtitle {
    font-size: 1.3rem;
  }

  .headerContent .menu a {
    font-size: 1.4rem;
  }
}

@media (max-width: 426px) {
  .headerContent .container {
    padding: 4rem 0;
  }

  .headerContent-home {
    margin-left: 2rem;
    text-align: center;
  }

  #headerContent-title {
    font-size: 7rem;
  }

  #headerContent-subtitle {
    font-size: 3rem;
  }

  .headerContent .menu a {
    font-size: 3rem;
  }
}
