/* font-family: 'Merriweather', serif;
*/

body {
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;
}

.headerContent {
  background-image: url('copacabana-large.jpg');
  background-size: 100%;
  height: 55vh;
}

.headerContent .container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.mainContent .container {
  display: flex;
  flex-direction: column;
}

#firstPlace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f85a7;
}

#secondPlace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4f733a;
}

#thirdPlace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bc5819;
}

/* .mainContent-img-wrapper {
  max-width: 50vw;
  max-height: auto;
} */
